# Default ignored files
/shelf/
/workspace.xml
*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/release/
/ar/build/
**/build/
**/.idea/
/devfile.yaml
*.pem
